@{
    ViewData["Title"] = "About";
}
<h4>@ViewData["Title"] </h4>
<hr />
<div class="aboutContent shadow-top" style="height: 100%;">
    <div class="aboutmeinfo">
        <label><b>Banking Admin App</b></label>
        <br />
        <div>
            <p>This application was built using .net 6 together with SQL back-end.<p/>
            <p>The purpose of this application is to allow the admin of an organization to capture people together with their relative accounts. The admin of the application will have the ability to manage people and accounts, as well as add and manage transactions of each acccount respectively.<p/>
            <p>Accounts can be closed and re-opened with ease.<p/>
            <p>This application uses bootstrap extensively which enabled the use of datatables to display data in tables. Datatables built-in functinoality with jquery enables data to be filtered, sorted and displayed with easy.<p/>
            <p>The use of database triggers were used, more importantly fore re-calculating the account outstanding balances whenever transactions was added or modified. Triggers were also used for the purpose of auditing.<p/>
        </div>
    </div>
</div>

<style>
    .aboutContent {
        background-color: white;
    }

    .aboutmeinfo {
        padding: 50px;
        box-shadow: 0 0 25px lightgray;
    }

    .aboutValue {
        margin-top: -12px;
    }
</style>