@{
    ViewData["Title"] = "Welcome to Banking Admin!";
}

<div class="col-12 col-md-12 col-lg-12 pb-5">
    <div class="shadow-top" style="height: 100%;">
        <div class="divinfo">
            <h4>@ViewData["Title"] </h4>
            <hr />
            <div>
                <p>Introducing the new and improved solution to daily admin needs in the banking sector.<p />
                <p>Banking Admin gives an administrator the ability to capture and manage people, along with their respective accounts. It also enables the creation and management of transactions against these accounts.<p />
                <ul style="list-style-type:square">
                    <li>Manage people, accounts and transactons.</li>
                    <li>Open, close or re-open accounts.</li>
                    <li>Search, sort and export data.</li>
                    <li>Audit data retrieval (on request).</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<style>
    body {
        background: url('../images/bgimage.jpg') no-repeat center center fixed;
        height: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .divinfo {
        padding: 50px;
        box-shadow: 0 0 25px lightgray;
        background: rgba(255,255,255, 0.8);
    }

    .footer {
       display:none;
    }
</style>