@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome to Banking Admin Web Application</h2>
    <p>This website is helps administrators to manage people, their accounts and transactions.</p>
</div>
